.album {
    margin-bottom: 100px;
}
.album img {
    width: 100%;
}

.content {
    padding: 2px;
    width: 100%;
}

.blogWriting {
    margin-bottom: 80px;
    padding: 15px 35px;
    font-size: 13px;
}

.dateWriting {
    text-align: right;
    font-size: 13px;
    padding: 15px 35px;
}
