#contactForm {
    padding: 5px;
    margin-top: 10px;
}

#formImage img {
    width: 500px;
}

.buttonHolder {
    text-align: center;
}

input[type=Text], select, textarea {
    font-size: 12px;
    width: 100%;
    padding: 5px;
    border: 1px solid darkslategray;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=Submit] {
    background-color: white;
    color: darkslategray;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    align-items: center;
}

input[type=Submit]:hover {
    color: gray;
}

